
@import "./../../styles/base";

.openbank-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
	padding-bottom: 1rem;
	margin-top: 1rem;
}
.openbank-stepper-horizontal .openbank-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.openbank-stepper-horizontal .openbank-step:active {
	border-radius: 15% / 75%;
}
.openbank-stepper-horizontal .openbank-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.openbank-stepper-horizontal .openbank-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.openbank-stepper-horizontal .openbank-step:first-child .openbank-step-bar-left,
.openbank-stepper-horizontal .openbank-step:last-child .openbank-step-bar-right {
	display:none;
}
.openbank-stepper-horizontal .openbank-step .openbank-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.openbank-stepper-horizontal.openbank-theme .openbank-step.active .openbank-step-circle {
	box-shadow: 2px 3px 10px 0px rgba(0,0,0,.50);
	background-color:$secondary-color;
}
.openbank-stepper-horizontal .openbank-step.active .openbank-step-circle {
	transform: scale(1.2);
	background-color: rgb(33,150,243);
}
.openbank-stepper-horizontal .openbank-step.done .openbank-step-circle:before {
	background-color:$primary-color;
	font-weight:100;
	content: "✓";
}
.openbank-stepper-horizontal .openbank-step.done .openbank-step-circle{
	background-color:$primary-color;
}
.openbank-stepper-horizontal .openbank-step.done .openbank-step-circle *,
.openbank-stepper-horizontal .openbank-step.editable .openbank-step-circle * {
	display:none;
}
.openbank-stepper-horizontal .openbank-step.editable .openbank-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.openbank-stepper-horizontal .openbank-step .openbank-step-bar-left,
.openbank-stepper-horizontal .openbank-step .openbank-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.openbank-stepper-horizontal .openbank-step .openbank-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.openbank-stepper-horizontal .openbank-step .openbank-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}