
@import "styles/base";

.App {
  &-header{
    &-logo{
     max-width: 80px;
    }
  }
  &-content{
    padding-bottom: 1rem;
    h3{
      color: $primary-color;
    }
    p{
      color: $secondary-color;
    }
    .error-text{
      color: $error;
    }
  }
}
.openbank-nav {
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,.30);
}