
@import "styles/base";

.App {
  &-header{
    &-logo{
     max-width: 80px;
    }
  }
  &-content{
    padding-top: 1rem;
    padding-bottom: 1rem;
    h3{
      color: $primary-color;
    }
    p{
      color: $secondary-color;
    }
    .error-text{
      color: $error;
    }
  }
}
